* {
	padding: 0;	
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	background-color: #333;
	height: 50px;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
}

.logo {
	color: #000;
	font-weight: 900;
}

.c-products {
	margin-top: 60px;
}

header > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	width: 700px
}

header > div > nav > ul {
	display: flex;
	gap: 5px;
}

header > div > nav > ul > li > a {
	display: block;
	padding: .5rem;
	color: #f7f7f7;
	background-color: #444;
	transition: .6s;
}

header > div > nav > ul > li > a:hover {
	background-color: #333;
}

#products {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.price {
	color: darkred;
}

.product {
	background-color: #fff;
	width: 225.3px;
	border-radius: 10px;
	padding: 25px;
	overflow: hidden;
}

.product > 	img {
	display: block;
	background-color: greenyellow;
	width: 175px;
	height: 175px;
}

.product > .product_name {
	font-weight: bold;
	display: block;
	line-height: 30px;
}

.options {
	font-weight: bolder;
	position: relative;
	left: 160px;
	bottom: 10px;
	cursor: pointer;
}

.modal-options {
	display: none;
	position: absolute;
	right: -2px;
	background-color: #ccc;
	cursor: default;
	padding: 5px;
}

.active-modal {
	display: block;
}

.modal-options > ul > li {
	cursor: pointer;
	font-size: 10px;
	margin: 5px;
	padding: 5px;
	background-color: #f7f7f7;

}

.modal-options a {
	color: #000;
}

@media (max-width: 699px) {
	.container {
		width: 100%;
	}
}