{% extends "layout.html" %}

{% block body %}
	<header>
		<div class="container">
			<a class="logo" href="/">ESimas VShop</a>
			<nav>
				<ul>
					<li><a href="/" title="Home Page">Home</a></li>
					<li><a href="#about" title="About Section">About</a></li>
					<li><a href="#contact" title="Contacts Section">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="container c-products">
		<div id="products">
			{% for product in products %}
				<div class="product">
					<span class="options">
						<span class="btn-modal">...</span>
						<div class="modal-options">
							<ul data-id="{{ product.id }}">
								<li class="buy">Comprar</li>
								<li class="edit">Editar (Admin)</li>
							</ul>
						</div>
					</span>
					<img src="{{ product.photo_url }}" alt="{{ product.name }}">
					<p class="product_name">
						{{ product.name }}
					</p>
					<p class="price">
						{{ product.price }}.00 Mzn
					</p>
					<p class="desctiption">
						{{ product.description }}
					</p>
				</div>
			{% endfor %}
		</div>
	</section>

	<script type="text/javascript" src="static/app.js"></script>
{% endblock %}