<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/admin.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h2>Login</h2>
	<form action="/" method="get" class="" accept-charset="utf-8">
		<input type="username" id="name" placeholder="Username" name="name">
		<input type="password" placeholder="Password" id="password" name="password">
	</form>
</body>
</html>
